*.o
*/Makefile
*/Makefile.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
example/.deps
example/diskfile
example/mountdir/**
example/step_prog
sfs.log
src/.deps
src/config.h
src/filedescriptor_test
src/sfs
